<nav
        class="navbar navbar-expand-lg fixed-top navbar-transparent"
        color-on-scroll="100"
        id="navbar-top"
>
    <div class="container">
        <div class="navbar-translate">
            <a
                    class="navbar-brand"
                    placement="bottom"
                    [routerLink]="['/welcome']"
                    target="_blank"
                    tooltip="Witaj w FlexGoals"
            >
                <span> FG• </span> FlexGoals
            </a>
            <button
                    aria-controls="navigation-index"
                    aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler"
                    [attr.aria-expanded]="!isCollapsed"
                    (click)="isCollapsed = !isCollapsed"
                    id="navigation"
                    type="button"
            >
                <span class="navbar-toggler-bar bar1"> </span>
                <span class="navbar-toggler-bar bar2"> </span>
                <span class="navbar-toggler-bar bar3"> </span>
            </button>
        </div>
        <div
                class="navbar-collapse justify-content-end"
                [collapse]="isCollapsed"
                id="navigation"
        >
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> FG• </a></div>
                    <div class="col-6 collapse-close text-right">
                        <button
                                aria-controls="navigation-index"
                                aria-label="Toggle navigation"
                                class="navbar-toggler"
                                [attr.aria-expanded]="!isCollapsed"
                                (click)="isCollapsed = !isCollapsed"
                                id="navigation"
                                type="button"
                        >
                            <i class="tim-icons icon-simple-remove"> </i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item p-0">
                    <a
                            class="nav-link"
                            href="https://bitbucket.org/Adsel/workspace/projects/"
                            placement="bottom"
                            target="_blank"
                            tooltip="Sprawdz nas na BitBucket"
                    >
                        <i class="fab fa-bitbucket"> </i>
                        <p class="d-lg-none d-xl-none">BitBucket</p>
                    </a>
                </li>
                <li class="dropdown nav-item" dropdown>
                    <a
                            class="dropdown-toggle nav-link dropdown-toggle"
                            data-toggle="dropdown"
                            dropdownToggle
                            href="javascript:void(0)"
                    >
                        <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menu
                    </a>
                    <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
                        <a class="dropdown-item" [routerLink]="['/home']">
                            <i class="tim-icons icon-bullet-list-67"> </i> Strona Główna
                        </a>
                        <a class="dropdown-item" [routerLink]="['/login']">
                            <i class="tim-icons icon-image-02"> </i> Zaloguj
                        </a>
                        <a class="dropdown-item" [routerLink]="['/register']">
                            <i class="tim-icons icon-single-02"> </i> Zarejestruj
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div  class="wrapper" *ngIf = "this.authService.currentUser">
    <div class="page-header">
        <img class="dots" src="../../../assets/img/dots.png" />

        <img class="path" src="../../../assets/img/path4.png" />

        <div class="container align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h1 class="profile-title text-left">{{ this.user.login }}</h1>
                    <h5 class="text-on-back">{{ this.user.id }}</h5>
                    <button type="button" (click)="logout()" class="btn btn-danger">Wyloguj się</button>

                </div>
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">

                            <h4 class="title">Szczegóły</h4>
                        </div>
                        <div class="card-body">
                        <tabset
                                class="nav-tabs-danger justify-content-center tab-subcategories"
                        >
                            <tab heading="Twoje dane">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label"> Punkty </label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <input
                                                    class="form-control"
                                                    placeholder="{{ this.user.points }}"
                                                    type="text"
                                                    readonly
                                            />

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label"> E-mail </label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <input
                                                    class="form-control"
                                                    placeholder="{{ this.user.email }}"
                                                    type="text"
                                                    readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <tar-show-targets (shift)="onShift($event)"></tar-show-targets>
    <tar-show-paths (shift)="refreshGoals($event)"></tar-show-paths>
    <app-user-edit-data></app-user-edit-data>
    <footer class="footer" style="padding: 0px">
        <div class="container">
            <div class="row">
                <div class="col-md-3"><h1 class="title">FG•</h1></div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <h3 _ngcontent-pfc-c109="" class="title">
                        BitBucket
                        <a _ngcontent-pfc-c109="" href="https://bitbucket.org/Adsel/workspace/projects/" target="_blank" class="btn btn-icon btn-neutral btn-round btn-simple mr-1">
                            <i _ngcontent-pfc-c109="" class="fab fa-bitbucket"></i>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </footer>

    <div
            aria-hidden="true"
            aria-labelledby="myModalLabel"
            bsModal
            class="modal fade modal-mini modal-danger modal-mini"
            #myModal1="bs-modal"
            id="myModal1"
            role="dialog"
            tabindex="-1"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button
                            aria-hidden="true"
                            class="close"
                            data-dismiss="modal"
                            (click)="myModal1.hide()"
                            type="button"
                    >
                        <i class="tim-icons icon-simple-remove text-white"> </i>
                    </button>
                    <div class="modal-profile">
                        <i class="tim-icons icon-single-02"> </i>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Always have an access to your profile</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link btn-neutral" type="button">Back</button>
                    <button
                            class="btn btn-link btn-neutral"
                            data-dismiss="modal"
                            type="button"
                            (click)="myModal1.hide()"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<!--<div *ngIf = "this.authService.currentUser">-->
<!--    <p>Witaj użytkowniku {{ this.user.login }}!</p>-->
<!--    <p>Twoje punkty {{ this.user.points }}</p>-->
<!--    <button type="button" (click)="editUserData()" class="btn btn-primary">Edytuj swój profil</button>-->


<!--    <button type="button" (click)="logout()" class="btn btn-danger">Wyloguj się</button>-->
<!--        <tar-show-targets (shift)="refreshPoints()"></tar-show-targets>
-->
<!--    <tar-show-targets></tar-show-targets>-->
<!--        <tar-show-targets (shift)="refreshPoints()"></tar-show-targets>
-->

<!--</div>-->
