<div class="container">
    <h2>Dodawanie celu </h2>
    <div class="row justify-content-md-center">
        <form class="card p-4 col-lg-8 col-md-10 col-sm-12 ">
            <div class="form-group">
              <label class="text-success" for="nameInput">Podaj nazwę celu</label>
              <input type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Wprowadź nazwę celu ..." [(ngModel)]="nameInput">
            </div>
            <div class="form-group">
              <label class="text-warning" for="goalInput">Podaj treść celu</label>
              <input type="text" class="form-control" id="goalInput" name="goalInput" placeholder="Wprowadź treść celu ..." [(ngModel)]="goalInput">
            </div>
            <div class="form-group">
              <label class="text-danger" for="selectType">Wybierz typ celu</label>
              <select [(ngModel)]="isQuantitative" #isQuantitativeZ name="isQuantitative" class="form-control" id="selectType">
                <option style="background: #171941;" [ngValue]="true">Cel ilościowy</option>
                <option style="background: #171941;" [ngValue]="false">Cel zaliczeniowy</option>
              </select>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="checkShared">
                    <input type="checkbox" class="form-check-input" name="sharedInput" id="checkShared" [(ngModel)] = "sharedInput">
                    <span class="form-check-sign"></span> Udostępnić społeczności
                </label>

            </div>
            <div class="form-group">
                <label for="descriptionInput" class="text-primary">Podaj opis celu</label>
                <input type="text" class="form-control" id="descriptionInput" name="descriptionInput" placeholder="Wprowadź opis celu ..." [(ngModel)]="descriptionInput">
            </div>
            <div class="form-group">
              <label for="daysInput" class="text-primary">Podaj liczbę dni trwania celu</label>
              <input type="text" class="form-control" id="daysInput" name="daysInput" placeholder="Wprowadź liczbę dni ..." [(ngModel)]="daysInput">
            </div>
            <!-- TYLKO DLA QUANTITATIVE TARGET-->
            <div *ngIf = "isQuantitative" class="form-group">
                <label for="stepInput" class="text-primary">Podaj krok celu</label>
                <input type="text" class="form-control" id="stepInput" name="stepInput" placeholder="Wprowadź krok celu ..." [(ngModel)]="stepInput">
            </div>
            <button type="button" (click)="addTarget()" class="btn btn-primary">Dodaj</button> <button type="button" (click)="backToWelcome()" class="btn btn-primary">Wróć</button>
        </form>
    </div>
    <br>
    <div *ngIf = "!isQuantitative" >
      <div *ngIf = "this.predefinedFinalGoals">
        <h3 class="text-success">WYBIERZ ZALICZENIOWY Z PREDEFINIOWANYCH</h3>
          <div class="row justify-content-md-center">
            <div *ngFor = "let pre of this.predefinedFinalGoals"  class="card col-lg-2 col-md-3 col-sm-5  m-1">
                <div>
                    <h4 class="mt-1 text-primary">{{ pre.name }}</h4>
                    <h5>{{ pre.description}}</h5>
                </div>
                <div class="mb-1 mt-auto mx-auto">
                  <button type="button" (click)="adjustFGoal(pre)" class="btn btn-primary btn-simple">Dostosuj</button>
                </div>
            </div>
          </div>
      </div>

      <div *ngIf = "this.sharedFinalGoals">
        <!-- ODSTĘP -->
        <br><br>
          <h3 class="text-danger">WYBIERZ Z UDOSTĘPNIONYCH CELÓW ZALICZENIOWYCH</h3>
            <div class="row justify-content-md-center">
                <div *ngFor = "let sh of this.sharedFinalGoals" class="card col-lg-2 col-md-3 col-sm-5  m-1">
                    <div>
                        <h4 class="mt-1 text-primary"> {{ sh.name }} </h4>
                        <h5>{{ sh.description}}</h5>
                    </div>
                    <div class="mb-1 mt-auto mx-auto">
                        <button type="button" (click)="adjustFGoal(sh)" class="btn btn-primary btn-simple">Dostosuj</button>
                    </div>
                </div>
            </div>

      </div>
    </div>

    <div *ngIf = "isQuantitative">
      <div *ngIf = "this.predefinedQuantitativeGoals">
          <h3 class="text-success">WYBIERZ ILOŚCIOWY Z PREDEFINIOWANYCH</h3>
            <div class="row justify-content-md-center">
                <div *ngFor = "let pre of this.predefinedQuantitativeGoals" class="card col-lg-2 col-md-3 col-sm-5  m-1">
                    <div>
                        <h4 class="mt-1 text-primary">{{ pre.name }}</h4>
                        <h5>{{ pre.description}}</h5>
                    </div>
                    <div class="mb-1 mt-auto mx-auto">
                        <button type="button" (click)="adjustQGoal(pre)" class="btn btn-primary btn-simple">Dostosuj</button>
                    </div>
                </div>
            </div>
      </div> 
      <div *ngIf = "this.sharedQuantitativeGoals">
        <!-- ODSTĘP -->
        <br><br>
          <h3 class="text-danger">WYBIERZ Z UDOSTĘPNIONYCH CELÓW ILOŚCIOWYCH</h3>
          <div class="row justify-content-md-center">
            <div *ngFor = "let sh of this.sharedQuantitativeGoals" class="card col-lg-2 col-md-3 col-sm-5  m-1">
                <div>
                    <h4 class="mt-1 text-primary">{{ sh.name }}</h4>
                    <h5>{{sh.description}}</h5>
                </div>
                <div class="mb-1 mt-auto mx-auto">
                    <button type="button" (click)="adjustQGoal(sh)" class="btn btn-primary btn-simple">Dostosuj</button>
                </div>
            </div>
          </div>
      </div> 
</div>
