<div class="container">

  <div class="row">

    <div class="col-md-4 card p-4" *ngIf = "this.type === 'q' && this.goalQ">
      <h2>Podgląd postępu</h2>
      <span class="badge badge-danger" style="font-size: 1em">Nazwa</span>
      <h4 style="text-align: center">{{ this.goalQ.name }}</h4>
      <span class="badge badge-warning" style="font-size: 1em">Opis</span>
      <h5 style="text-align: center">{{ this.goalQ.description }}</h5>
      <span class="badge badge-info" style="font-size: 1em">Cel</span>
      <h5 style="text-align: center">{{ this.goalQ.goal }}</h5>
      <span class="badge badge-success" style="font-size: 1em">Krok</span>
      <h5 style="text-align: center">{{ this.goalQ.step }}</h5>
      <span class="badge badge-primary" style="font-size: 1em">Czas trwania</span>
      <h5 style="text-align: center">{{ this.goalQ.days }} dni</h5>
      <button type="button" (click)="backToWelcome()" class="btn btn-primary btn-simple">Wróć</button>

    </div>
    <div class="col-md-4 card p-4" *ngIf = "this.type === 'f' && this.goalF">
      <h2>Podgląd postępu</h2>
      <span class="badge badge-danger" style="font-size: 1em">Nazwa</span>
      <h4 style="text-align: center">{{ this.goalF.name }}</h4>
      <span class="badge badge-warning" style="font-size: 1em">Opis</span>
      <h5 style="text-align: center">{{ this.goalF.description }}</h5>
      <span class="badge badge-info" style="font-size: 1em">Cel</span>
      <h5 style="text-align: center">{{ this.goalF.goal }}</h5>
      <span class="badge badge-success" style="font-size: 1em">Czas trwania</span>
      <h5 style="text-align: center">{{ this.goalF.days }}</h5>
      <span class="badge badge-primary" style="font-size: 1em">Postep</span>
      <progressbar name="pb" class="mt-2 mb-2 progress-bar-danger" [value]="this.value">
        <span class="progress-value"> {{ this.value }}% </span>
      </progressbar>
      <button type="button" (click)="backToWelcome()" class="btn btn-primary btn-simple">Wróć</button>
    </div>

      <!--<img class="path" src="assets/img/path4.png" />

      <img class="path2" src="assets/img/path2.png" />-->

      <div class="col-md-8" *ngIf = "this.type === 'q'">
        <div class="card card-chart card-plain">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6 text-left">
                <hr class="line-primary" />

                <h5 class="card-category">Postęp</h5>
                <h2 class="card-title">Cel ilościowy</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area"><canvas id="chartBig"> </canvas></div>
          </div>
        </div>
      </div>
  </div>
</div>
