<nav
        class="navbar navbar-expand-lg fixed-top navbar-transparent"
        color-on-scroll="100"
        id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
              class="navbar-brand"
              [routerLink]="['/home']"
              placement="bottom"
              tooltip="Welcome to FlexGoals"
      >
        <span> FG• </span> FlexGoals
      </a>
      <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
            class="navbar-collapse justify-content-end"
            [collapse]="isCollapsed"
            id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> FG• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
                    aria-controls="navigation-index"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    [attr.aria-expanded]="!isCollapsed"
                    (click)="isCollapsed = !isCollapsed"
                    id="navigation"
                    type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
                  class="nav-link"
                  href="https://bitbucket.org/Adsel/workspace/projects/"
                  placement="bottom"
                  target="_blank"
                  tooltip="Sprawdz nas na BitBucket"
          >
            <i class="fab fa-bitbucket"> </i>
            <p class="d-lg-none d-xl-none">BitBucket</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']"> Strona Glówna </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img
                        alt="Card image"
                        class="card-img"
                        src="assets/img/square1-red.png"
                />

                <h5 class="card-title"
                    style="color: whitesmoke;
                    font-size: 4em;"
                >Rejestracja</h5>
              </div>
              <div class="card-body">
                <form class="form">
                  <div
                          class="input-group"
                          [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <input
                            class="form-control"
                            placeholder="Login"
                            type="text"
                            (focus)="focus = true"
                            (blur)="focus = false"
                            [(ngModel)]="loginInput"
                            [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                  <div
                          class="input-group"
                          [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input
                            class="form-control"
                            placeholder="Email"
                            type="text"
                            (focus)="focus1 = true"
                            (blur)="focus1 = false"
                            [(ngModel)]="emailInput"
                            [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                  <div
                          class="input-group"
                          [ngClass]="{ 'input-group-focus': focus2 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input
                            class="form-control"
                            placeholder="Hasło"
                            type="password"
                            (focus)="focus2 = true"
                            (blur)="focus2 = false"
                            [(ngModel)]="passwordInput"
                            [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                  <div
                          class="input-group"
                          [ngClass]="{ 'input-group-focus': focus3 === true, 'has-danger': passwordInput !== passwordInput2 && passwordInput != null}"
                    >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input
                            class="form-control"
                            placeholder="Powtórz hasło"
                            type="password"
                            (focus)="focus3 = true"
                            (blur)="focus3 = false"
                            [(ngModel)]="passwordInput2"
                            [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <a
                        class="btn btn-danger btn-round btn-lg"
                        href="javascript:void(0)"
                        (click)="register()"
                >
                  Zarejestruj
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">FG•</h1></div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <h3 class="title">BitBucket</h3>
          <div class="btn-wrapper profile">
            <a
                    class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                    href="https://bitbucket.org/Adsel/workspace/projects/"
                    target="_blank"
            >
              <i class="fab fa-bitbucket"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
