<section class="container ng-star-inserted">
    <h1>Zmień
        <span class="text-success">ścieżke</span><br>
    </h1>
    <h4> Użycie ścieżki spowoduje zastąpienie Twoich obecnych celów celami ze ścieżki!</h4>
    <div  *ngIf = "this.paths" class="row justify-content-md-center">
        <div class="col-md-5 col-lg-3 card p-3 m-2" *ngFor = "let i of this.nums">
            <h3  style="margin-bottom: 5px;">Ścieżka {{ i }}</h3>
            <div *ngFor = "let f of this.paths">

                <div *ngIf = "f.path == i">
                    <span class="badge badge-success" style="font-size: 1em;white-space: pre-wrap;width: 100%">{{ f.name }}</span>

                    <h5 style="margin-top: 0px;"> {{ f.description }}</h5>
                </div>
            </div>
            <div class="mt-auto mx-auto">
                <button type="button" (click)="setPath(i)" class="btn btn-primary btn-simple ml-auto">Obierz ścieżkę</button>
            </div>
        </div>
    </div>

</section>

