<div class="container" *ngIf="!this.editableQGoal && !this.editableFGoal" xmlns="http://www.w3.org/1999/html">

    <div *ngIf = "this.quantitativeGoals">
        <h1>Cele
            <span class="text-info">ilościowe</span>
        </h1>

        <div class="row justify-content-md-center">
            <div *ngIf="this.quantitativeGoals.length == 0">Brak</div>
            <div class="col-sm-5 col-md-4 p-4 card m-2" *ngFor="let q of this.quantitativeGoals">
                <span class="badge badge-info" style="font-size: 1em;white-space: pre-wrap;width: 100%">{{ q.name }}</span>
                <h5 style="text-align: center">{{ q.goal }}</h5>
                <button  (click)="deleteQuantitativeGoal(q.id)" class="btn btn-link btn-danger">
                    Usuń
                </button>
                <button  (click)="editQuantitativeGoal(q)" class="btn btn-link btn-warning">
                    Edytuj
                </button>
                <button  (click)="previewQGoal(q)" class="btn btn-link btn-info">
                    Podgląd
                </button>
                <div class="form-group" *ngIf="q.flag > (-1)">
                    <input type="number" min="0" class="form-control" id="goalInput {{q.id}}" name="goalInput" value="0" placeholder="0" (keyup)="setInputVal($event)">
                    <button style="width: 100%;" (click)="doneQuantitativeGoal(q.id)" class="mt-auto btn btn-simple btn-round btn-success">Zalicz</button>
                </div>
                <div *ngIf="q.flag == (-2)" style="padding-top: inherit;">
                    <h4 class="mx-auto mt-auto text-success" style="text-align: center; margin-bottom: 0px;" >Dziś zaliczone</h4>
                    <div> <i class="tim-icons icon-check-2 text-success" style="font-size: 3em; text-align: center; width: 100%;"></i></div>
                </div>
                <div *ngIf="q.flag == (-1)" style="padding-top: inherit;">
                    <h4 class="mx-auto mt-auto text-success" style="text-align: center; margin-bottom: 0px;" >Zakończone</h4>
                    <div> <i class="tim-icons icon-check-2 text-success" style="font-size: 3em; text-align: center; width: 100%;"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf = "this.finalGoals">
        <h1 class="mt-4">Cele
            <span class="text-primary">zaliczeniowe</span>
        </h1>
        <div class="row justify-content-md-center">
            <div *ngIf="this.finalGoals.length == 0">Brak</div>
            <div class="col-sm-5 col-md-4 p-4 card m-2" *ngFor="let f of this.finalGoals">
                <span class="badge badge-primary" style="font-size: 1em;white-space: pre-wrap;width: 100%">{{ f.name }}</span>
                <h5 style="text-align: center">{{ f.goal }}</h5>
                <button  (click)="deleteFinalGoal(f.id)" class="btn btn-link btn-danger">
                    Usuń
                </button>
                <button  (click)="editFinalGoal(f)" class="btn btn-link btn-warning">
                    Edytuj
                </button>
                <button  (click)="previewFGoal(f)" class="btn btn-link btn-info">
                    Podgląd
                </button>
                <button  *ngIf="f.flag > -1" (click)="doneFinalGoal(f.id)" class="mt-2 btn btn-simple btn-round  btn-success">
                    Zalicz
                </button>

                <div *ngIf="f.flag == (-2)" style="padding-top: inherit;">
                    <h4 class="mx-auto mt-auto text-success" style="text-align: center; margin-bottom: 0px;" >Dziś zaliczone</h4>
                    <div> <i class="tim-icons icon-check-2 text-success" style="font-size: 3em; text-align: center; width: 100%;"></i></div>
                </div>
                <div *ngIf="f.flag == (-1)" style="padding-top: inherit;">
                    <h4 class="mx-auto mt-auto text-success" style="text-align: center; margin-bottom: 0px;" >Zakończone</h4>
                    <div> <i class="tim-icons icon-check-2 text-success" style="font-size: 3em; text-align: center; width: 100%;"></i></div>
                </div>

            </div>
        </div>
    </div>
    <div class="text-center col-md-12">
        <button type="button" (click)="redirectToAddGoal()" class="btn btn-primary">Dodaj Cel</button>
    </div>

</div>

<tar-edit-target (shift) = "onShift($event)" [editableQGoal] = "editableQGoal" [editableFGoal] = "editableFGoal"></tar-edit-target>
