<div class="container">
    <h2>Edytuj swoje dane osobowe</h2>
    <div class="row justify-content-md-center">
        <form class="card col-md-8">
            <div class="form-group">
                <label for="nameInput">Twoje imię</label>
                <input type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Wprowadź imię ..." [(ngModel)]="nameS">
            </div>
            <div class="form-group">
                <label for="selectType">Wybierz płeć</label>
                <select [(ngModel)]="sexS" #sex name="sex" class="form-control" id="selectSex">
                    <option style="background: #171941;" [ngValue]="true">Mężczyzna</option>
                    <option style="background: #171941;" [ngValue]="false">Kobieta</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dateInput">Wprowadź date w formacie rrrr-mm-dd</label>
                <input type="text" class="form-control" id="dateInput" name="dateInput" placeholder="rrrr-mm-dd" [(ngModel)]="dateS">
            </div>

            <button type="button" (click)="savePrivData()" class="btn btn-primary">Zapisz dane osobowe</button>
        </form>
    </div>

</div>
