<nav
        class="navbar navbar-expand-lg fixed-top navbar-transparent"
        color-on-scroll="100"
        id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
              class="navbar-brand"
              placement="bottom"
              [routerLink]="['/welcome']"
              target="_blank"
              tooltip="Welcome to FlexGoals"
      >
        <span> FG• </span> FlexGoals
      </a>
      <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
            class="navbar-collapse justify-content-end"
            [collapse]="isCollapsed"
            id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> FG• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
                    aria-controls="navigation-index"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    [attr.aria-expanded]="!isCollapsed"
                    (click)="isCollapsed = !isCollapsed"
                    id="navigation"
                    type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
                  class="nav-link"
                  href="https://bitbucket.org/Adsel/workspace/projects/"
                  placement="bottom"
                  target="_blank"
                  tooltip="Sprawdz nas na BitBucket"
          >
            <i class="fab fa-bitbucket"> </i>
            <p class="d-lg-none d-xl-none">BitBucket</p>
          </a>
        </li>
        <li class="dropdown nav-item" dropdown>
          <a
                  class="dropdown-toggle nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  dropdownToggle
                  href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menu
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/home']">
              <i class="tim-icons icon-bullet-list-67"> </i> Strona Główna
            </a>
            <a class="dropdown-item" [routerLink]="['/login']">
              <i class="tim-icons icon-image-02"> </i> Zaloguj
            </a>
            <a class="dropdown-item" [routerLink]="['/register']">
              <i class="tim-icons icon-single-02"> </i> Zarejestruj
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a
                  class="nav-link btn btn-default d-none d-lg-block"
                  href="javascript:void(0)"
                  (click)="scrollToDownload(target)"
          >
            <i class="tim-icons icon-cloud-download-93"> </i> Pobierz Apkę
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="content-center">
      <div
        class="row row-grid justify-content-between align-items-center text-left"
      >
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            Pomożemy Ci osiągnąć <br />
            <span class="text-white"> Twoje cele </span>
          </h1>
          <p class="text-white mb-3">
            Nasza aplikacja, umożliwia monitorowanie oraz zarządzanie celami osobistymi.
            <br>
            Dzięki temu możemy łatwiej je realizować ,
            oraz stawiać sobie nowe cele. Zgarniaj punkty, udostępniaj swoje osiągnięcia, baw się i zmieniaj się na lepsze!

          </p>
        </div>
        <div class="col-lg-4 col-md-5">
          <img
            alt="Circle image"
            class="img-fluid"
            src="assets/img/etherum.png"
          />
        </div>
      </div>
    </div>
  </div>
  <section class="">
  </section>
  <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path5.png" />

    <img class="path3" src="assets/img/path2.png" />

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center">Co oferujemy</h1>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-trophy"> </i>
                </div>
                <h4 class="info-title">Realizacja celów</h4>
                <hr class="line-primary" />

                <p>
                  Wyznacz swoje własne cele lub skorzystaj z gotowych. Wykonuj określone czynności przez określony czas aby ukończyć cel i zmienić coś w sobie!
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-coins"> </i>
                </div>
                <h4 class="info-title">System punktowy</h4>
                <hr class="line-warning" />

                <p>
                  Za każdy wykonany cel zgarnij określoną pulę punktów. Regularność popłaca!
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-send"> </i>
                </div>
                <h4 class="info-title">Udostępnianie osiągnięć</h4>
                <hr class="line-success" />

                <p>
                  Udostępniaj swoje cele, aby pochwalić się swoimi osiągnięciami. Możesz tym zmotywować innych do działania !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg section-safe">
    <img class="path" src="assets/img/path5.png" />

    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-md-5">
          <img class="img-fluid floating" src="assets/img/chester-wade.jpg" />

          <div class="card card-stats bg-default">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title" style="font-size:0.8em;">Database</p>
                  <p class="card-category text-white">Postgres</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-success">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">Mobile</p>
                  <p class="card-category text-white">Android Studio</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-danger">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title" class="font-size: 1.2rem;">Web</p>
                  <p class="card-category text-white">Angular</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="px-md-5">
            <hr class="line-success" />

            <h3>Podział projektu</h3>
            <p>
              Projekt Flex Goals jest dostępny na urządzenia mobilne android jak i stronę iternetową. Dane przechowywane o celach i ich postępach gromadzimy bazie danych co umożliwia nam łatwiejszą integralność między środowiskami.
            </p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-laptop"> </i>
                  </div>
                  <div class="ml-3"><h6>Angular</h6></div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-mobile"> </i>
                  </div>
                  <div class="ml-3"><h6>Androis Studio</h6></div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-molecule-40"> </i>
                  </div>
                  <div class="ml-3"><h6>Postgres</h6></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <hr class="line-info" />

          <h1>
            Przykładowe
            <span class="text-info"> cele </span>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/bitcoin.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">100 brzuszków przez 30 dni</h4>
                  <span> Plan </span>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">Wykonuj 100 brzuszków
                    Przez 30 dni, aby wzmocnić oraz uwydatnić swoje mięśnie brzucha!
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/etherum.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Trening pompek</h4>
                  <span> Plan </span>
                  <hr class="line-success" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">Ćwicz pompki przez 30 dni , aby wzmocnić swoje mięśnie trójgłowe oraz mięśnie klatki piersiowej!</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/ripp.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">80 przysiadów przez 30 dni</h4>
                  <span> Plan </span>
                  <hr class="line-info" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">Ten trening pozwoli Ci wzmocnić swoje mięśnie pleców, brzucha, pośladków,
                    ud i łydek! Ponadto poprawisz swoją ruchomość stawów!
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section section-download" data-background-color="black" #target>
    <img class="path" src="assets/img/path1.png"/>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="text-center col-md-12 col-lg-8">
          <h2 class="title">
            Zainteresowałeś się FlexGoals?
            <p>Pobierz go na Androida!
          </h2>
        </div>
        <div class="text-center col-md-12 col-lg-8">
          <a
                  class="btn btn-success btn-round btn-lg"
                  href=""
                  role="button"
          >
            Pobierz FleaxGoals na Androida
          </a>
        </div>
      </div>
      <br />



      <div class="row row-grid align-items-center my-md">
        <div class="col-lg-6">
          <h3 class="text-danger font-weight-light mb-2">
            Dziękujemy za wasze pobrania!
          </h3>
          <h4 class="mb-0 font-weight-light">
            Pozdrawia cała ekipa
          </h4>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container">
      <div class="navbar-translate"><a class="navbar-brand"> Autorzy </a></div>
      <div aria-expanded="false" aria-hidden="true" class="navbar-collapse collapse" id="example-navbar-transparent"
           style="">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="nav-link"><i class="fas fa-server"></i> Marcin Radwan</div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><i class="fas fa-mobile-alt"></i> Kinga Derendal</div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><i class="fas fa-mobile-alt"></i> Kamil Zachara</div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><i class="fas fa-database"></i> Jakub Łoś</div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><i class="far fa-file-code"></i> Kamil Rękas</div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>
