<div class="container" *ngIf = "this.editableFGoal">
    <h2>Edycja celu </h2>
    <div class="row justify-content-md-center">
        <form class="card p-4 col-8">
            <div class="form-group">
              <label for="nameInput">Edytuj nazwę celu</label>
              <input type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Wprowadź nazwę celu ..." [(ngModel)]="editableFGoal.name">
            </div>
            <div class="form-group">
              <label for="goalInput">Edytuj treść celu</label>
              <input type="text" class="form-control" id="goalInput" name="goalInput" placeholder="Wprowadź treść celu ..." [(ngModel)]="editableFGoal.goal">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="sharedInput" id="checkShared" [(ngModel)] = "editableFGoal.isShared">
              <label class="form-check-label" for="checkShared">Udostępnić społeczności</label>
            </div>
            <div class="form-group">
                <label for="descriptionInput">Edytuj opis celu</label>
                <input type="text" class="form-control" id="descriptionInput" name="descriptionInput" placeholder="Wprowadź opis celu ..." [(ngModel)]="editableFGoal.description">
            </div>
            <div class="form-group">
              <label for="daysInput">Edytuj liczbę dni trwania celu</label>
              <input type="text" class="form-control" id="daysInput" name="daysInput" placeholder="Wprowadź liczbę dni ..." [(ngModel)]="editableFGoal.days">
            </div>
            <button type="button" (click)="updateTarget()" class="btn btn-primary">Aktualizuj</button> <button type="button" (click)="backToWelcome()" class="btn btn-primary">Wróć</button>
        </form>
    </div>
</div>
<!-- SECOND TYPE OF GOAL -->
<div class="container" *ngIf = "this.editableQGoal">
    <h2>Edycja celu </h2>
    <div class="row justify-content-md-center">
        <form class="card p-4 col-8">
            <div class="form-group">
              <label for="nameInput">Edytuj nazwę celu</label>
              <input type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Wprowadź nazwę celu ..." [(ngModel)]="editableQGoal.name">
            </div>
            <div class="form-group">
              <label for="goalInput">Edytuj treść celu</label>
              <input type="text" class="form-control" id="goalInput" name="goalInput" placeholder="Wprowadź treść celu ..." [(ngModel)]="editableQGoal.goal">
            </div>
            <div class="form-check">
                <label class="form-check-label" for="checkShared">
                    <input type="checkbox" class="form-check-input" name="sharedInput" id="checkShared" [(ngModel)] = "editableQGoal.isShared">
                    <span class="form-check-sign"></span> Udostępnić społeczności
                </label>
            </div>
            <div class="form-group">
                <label for="descriptionInput">Edytuj opis celu</label>
                <input type="text" class="form-control" id="descriptionInput" name="descriptionInput" placeholder="Wprowadź opis celu ..." [(ngModel)]="editableQGoal.description">
            </div>
            <div class="form-group">
              <label for="daysInput">Edytuj liczbę dni trwania celu</label>
              <input type="text" class="form-control" id="daysInput" name="daysInput" placeholder="Wprowadź liczbę dni ..." [(ngModel)]="editableQGoal.days">
            </div>
            <!-- TYLKO DLA QUANTITATIVE TARGET-->
            <div class="form-group">
                <label for="stepInput">Edytuj krok celu</label>
                <input type="text" class="form-control" id="stepInput" name="stepInput" placeholder="Wprowadź krok celu ..." [(ngModel)]="editableQGoal.step">
            </div>
            <button type="button" (click)="updateTarget()" class="btn btn-primary">Aktualizuj</button> <button type="button" (click)="backToWelcome()" class="btn btn-primary">Wróć</button>
        </form>
    </div>
</div>
